body {
    background: #efefef;
    margin: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

.topLink>ul>li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}

.reumeTop {
    padding: 20px 10px 20px 10px;
    position: fixed;
    width: 100%;
}

.topName {
    float: left;
    font-size: 24px;
    font-family: "Hiragino Kaku Gothic StdN";
}

.topName .rs {
    margin-right: 4px;
    color: #e6686a;
}

.topName .card {
    color: #9a9da2;
}

.topLinkUl {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topLink {
    float: right;
    margin-right: 30px;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.topLink>ul>li>a {
    color: #b7b7b7;
    font-size: 10px;
    display: block;
    padding-bottom: 6px;
    padding-top: 6px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    font-family: "Hiragino Kaku Gothic StdN";
}

.topLink>ul>li>a:hover {
    border-bottom: 3px solid #e06567;
}

.centerText {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: "Hiragino Kaku Gothic StdN";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -50px;
}

.banner {
    height: 550px;
    background-image: url(../img/topBg.jpg);
    background-size: cover;
    background-position: center;
}

.banner .conver {
    height: 550px;
    background-color: rgba(0, 0, 0, 0.6);
}

.picture {
    float: left;
}

.userInfo {
    float: left;
    margin-left: 65px;
    width: 470px;
}

.userContent {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 50px;
    margin-top: -380px;
}

.userInfo .hello {
    background: #e6686a;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 10px solid #e6686a;
    border-right: 10px solid transparent;
    margin-left: 8px;
}

.userInfo dl dt {
    float: left;
    width: 30%;
    font-weight: bold;
    padding: 5px 0;
}

.userInfo dl dd {
    float: left;
    width: 70%;
    color: #9da0a7;
    padding: 5px 0;
}

.userInfo>p {
    padding: 8px;
}

.userInfo>hr {
    margin: 10px 0;
}

.footer {
    background: #e6686a;
    text-align: center;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px 0 50px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.footer>a>svg {
    fill: white;
    width: 20px;
    height: 20px;
    vertical-align: t op;
}

.footer>a {
    display: inline-block;
    width: 30px;
    line-height: 20px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 13px;
}

.footer>a:hover {
    background: #cf5d5f;
}

.resumeDownload {
    display: inline-block;
    border: 1px solid #cdcfd1;
    padding: 21px 55px;
    color: #3d4451;
    text-decoration: none;
    font-weight: bold;
    transition: box-shadow 0.2s;
}

.downloadLocation {
    text-align: center;
    margin-top: 30px;
}

.resumeDownload:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}

.selfIntroduction {
    font-size: 20px;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    line-height: 1.8;
    text-align: center;
}

.selfIntroductionWrapper {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.section-title {
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    margin: 25px 0px;
}

.skills>div>ol>li {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-right: 40px;
}

.skills>div>ol>li:nth-child(even) {
    float: right;
}

.skills {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.bar-title>h3 {
    font-size: 14px;
    line-height: 1.1;
}

.skills>div>ol {
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px 50px;
    margin-top: 30px;
}

.progressBar {
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin: 4px 0 40px;
}

.progress {
    height: 100%;
    background: #E6686A;
    width: 70%;
    border-radius: 2px;
}

.liGroup {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

.liGroup>li {
    float: left;
    margin-left: 40px;
    cursor: pointer;
}

.liGroup>li:nth-child(1) {
    margin-left: 0px;
}

.protfolioNav {
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.protfolio {
    margin-bottom: 100px;
    text-align: center;
}

.bar {
    height: 5px;
    background: white;
    margin-top: 5px;
    margin-bottom: 28px;
    border-radius: 2px;
}

.bar-inner {
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
    transition: all 0.3s;
}

.state-1 .bar-inner {
    margin-left: 0;
    width: 50px;
}

.state-2 .bar-inner {
    margin-left: 65px;
    width: 100px;
}

.state-3 .bar-inner {
    margin-left: 225px;
    width: 80px;
}

.work {
    position: relative;
    height: 578px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.work>div {
    position: absolute;
}

.work .left {
    left: 0%;
    top: 0px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.left>article {
    width: 607px;
    height: 576px;
    background-image: url('../img/photo-1.jpg');
}

.rightOne>article {
    width: 294px;
    height: 278px;
    background-image: url('../img/photo-2.jpg')
}

.rightSecond>article {
    width: 294px;
    height: 278px;
    background-image: url('../img/photo-3.jpg');
}

.rightOne {
    top: 0px;
    left: 625px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.rightSecond {
    bottom: 0px;
    left: 625px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.pfItem::before{
    content: '';
    width: 100%;
    display: block;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}